<h1>Ønskeliste</h1>

<% @people.each do |person| %>
  <h2><%= person.name %></h2>
  <ul class="valid-wishes" id="valid-for-<%= person.id%>">
    <% person.wishes.select {|wish| wish.cancelled_at == nil }.each do |wish| %>
      <li>
        <%= wish.name %>
      </li>
    <% end %>
  </ul>

  <ul>
    <% person.wishes.select {|wish| wish.cancelled_at != nil }.each do |wish| %>
      <li class="wish-cancelled">
        <%= wish.name %>
      </li>
    <% end %>
  </ul>

  <%= render :partial => "new_wish_form", :locals => {:person => person} %>
  <hr/>
<% end %>