<li id="wish-<%=wish.id-%>" data-wish="<%= wish.id -%>">
  <div class="wish-name">
    <%= wish.name %>
  </div>
  <% if current_user.present? %>
    <% if wish.cancelled_at.nil? %>
      <%= link_to "cancel", wish_cancel_path(wish), :method => :post, :remote => true %>
    <% else %>
      <%= link_to "delete", wish_path(wish), :method => :delete, :remote => true %>
    <% end %>

    <a href="#" onclick="edit_wish(<%=wish.id%>)">edit</a>
    <div class="wish-edit-form" style="display: none;">
      <%= form_tag({:controller => :wishes, :action => :update, :id => wish.id}, {:method => :put, :remote => true}) do %>
        <%= text_field_tag "name", wish.name %>
        <%= submit_tag "Update" %>
      <% end %>
    </div>
  <% end %>
</li>