<h1>Account#index</h1>

<h1>Listing users</h1>
 
<table>
  <tr>
    <th>Name</th>
    <th>Password</th>
    <th>Invalidated</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 
<% @accounts.each do |account| %>
  <tr>
    <td><%= account.username %></td>
    <td><%= account.password %></td>
    <td><%= account.invalidated_at %></td>
    <td><%= link_to 'Show', :controller => "accounts", :action => "show", :id => account.id %></td>
    <td><%= link_to 'Edit', edit_account_path(account) %></td>
    <td><%= link_to 'Destroy', :controller => "accounts", :action => "destroy", :id => account.id, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
 
<br />
 
<%= link_to 'New account', new_account_path %>
